langchain-groq==0.1.9
langgraph==0.2.16
python-dotenv==1.0.1
requests==2.31.0
pathlib==1.0.1
typing-extensions==4.12.2
langchain-core==0.2.38
langchain-community==0.2.16
textstat==0.7.3
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
trafilatura==1.10.0
google-api-python-client==2.134.0
gunicorn
